<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name=".ui.dispatch.DispatchCreateActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".ui.dispatch.DispatchDetailActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".ui.dispatch.SpotCheckReviewActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
